<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Store</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="js/SockJS.js"></script>
    <script src="js/stomp.js"></script>
</head>
<body class="sans-serif mw7 center pb6">
<div layout:fragment="content"></div>
</body>
</html>